import pytest
from typer.testing import CliRunner

from {{ package_name }}.cli import app

runner = CliRunner()

pytestmark = pytest.mark.unit


def test_hello():
    result = runner.invoke(app, ["World"])
    assert result.exit_code == 0
    assert "Hello, World!" in result.stdout
