[project]
site_name = "{{ project_name }}"
site_url = "https://{{ author }}.github.io/{{ project_name }}"
site_description = "{{ description }}"
site_author = "{{ author }}"
copyright = "&copy; {{ year }} {{ author }}"
docs_dir = "docs"
site_dir = "site"
use_directory_urls = true

[project.theme]
variant = "modern"
